.main {
  padding: 5px 90px 15px 90px;
  /* //top right bottom left */
}

body {
  background-color: #f7f4f4;
  letter-spacing: .03em;
  text-rendering: geometricPrecision;
  display: block;
  /* @include font-maker(14px, 1.5, #303030); */
  font-weight: 100;
}

#allReviews{
 /* font-size: 500px; */
}
.star-icon {
  color: #ddd;
  font-size: 26px;
  left: 15;
  position: relative;
}
.smallFont{
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Thasadith', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
.author {
  padding-top: 5px;
  padding-bottom: 15px;
}
.review {
  padding-top: 25px;
}

.mediumFont{
  font-family: 'Thasadith', sans-serif;
  font-size: 14px;
  font-weight:bold;
}
.star-icon.small {
  color: #ddd;
  font-size: 20px;
  left: 0;
  display: inline-block;
  line-height: 1em;
  /* position: relative; */
}
.star-icon.full:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  left: 0;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.qaurter:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  width: 40%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.half:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  width: 50%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.threeQuarter:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  width: 60%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.reviewButton {
  margin-top: 25px;
  margin-bottom: 25px;

}
.smallStars {
  margin-top: 50px;
}
.reviewButton {
  height:40px;
  width:125px;
}