.main {
  padding: 5px 90px 15px 90px;
  /* //top right bottom left */
}

body {
  background-color: #f7f4f4;
  letter-spacing: .03em;
  text-rendering: geometricPrecision;
  display: block;
  /* @include font-maker(14px, 1.5, #303030); */
  font-weight: 10;
}
.rating {

  font-family: 'Thasadith', sans-serif;
  font-size: 20px;
  position:inline;
  padding-left: 10px;
  font-weight:500;
}
.space{
  padding-top: 10px;
}

.reviewButton {
  font-family: 'Thasadith', sans-serif;
  display: block;
  text-align: center;
  height:50px;
  width:150px;
  background-color: rgb(115, 134, 103);
  border-radius: 5%;
  box-shadow: 10px 10px;
  font-size: 16px;
  color: white;
}
.buttonContainer{
  padding-top: 15px;
  padding-bottom: 15px;
}
.helpfulButton{
  font-family: 'Thasadith', sans-serif;
  display: block;
  text-align: center;
  height:32px;
  width:95px;
  background-color: rgb(115, 134, 103);
  border-radius: 10%;
  box-shadow: 10px 10px;
  font-size: 12px;
  color: white;
  /* color: rgb(92, 122, 92) */
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
}
.star-icon {
  color: #ddd;
  font-size: 26px;
  left: 15;
  position: relative;
}
.smallFont{
  padding-top: 14px;
  padding-bottom: 12px;
  font-family: 'Thasadith', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
}
.mediumFont{
  font-family: 'Thasadith', sans-serif;
  font-size: 18px;
  color: black;
}
.review {
  padding-top: 15px;
}
strong{
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold !important;
  text-shadow: 900px;
}

.star-icon.small {
  color: #ddd;
  font-size: 20px;
  left: 0;
  display: inline-block;
  line-height: 1em;
  /* position: relative; */
}
.star-icon.full:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  left: 0;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.qaurter:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  width: 40%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.half:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  width: 50%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.threeQuarter:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  width: 60%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.smallStars {
  margin-top: 50px;
}
